/* Larger Views */
@media screen and (min-width: 640px) {

    #menu {
        display: none;
    }

    .navigation {
        display: block;
    }

    nav {
        background-color: black;
        margin: 0 auto;
        max-width: 1000px;
    }

    nav a {
        display: block;
        color: #f1e3dd;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
        font-size: x-large;

    }

    nav ul {
        list-style-type: none;
        display: flex;
        /* Use flexbox for horizontal alignment */
        justify-content: space-around;
        /* Distribute items evenly */
    }

    main {
        position: relative;
    }

    #Welcome {
        top: 50%;
        left: 50%;
    }

    /*About Emma*/
    #aboutDiv {
        max-width: fit-content;
    }

    .contact {
        text-align: center;
        max-width: fit-content;
    }

}