body {
  padding-left: 30px;
  margin: 0;
  max-width: 400px;
  font-family: "Outfit", serif;
  font-weight: 300;
  font-style: normal;
}

main {
  background-color: lightgray;
}

h1 {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
}

.productContainer
 {
  display: block;
  /*center the container*/
  margin: 5px auto;
  /*width of the box*/
  width: 90%;
}

select,
.submitButton,
input[type="date"],
textarea,
#name, .countycountySelect {
  /*width of the box*/
  width: 90%;
  height: 30px;
  margin: 10px auto;
  display:block;
}

.radioContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 10px;
}

.radioLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.features, .rating, .dateContainer, .reviewContainer, .nameContainer, .submitButton {
  /*separate the different sections from each other*/
  padding-top: 8px;
}

.featuresContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.submitButton {
  font-weight: bold;
  font-size: 1.2em;
  height: 50px;
  justify-content: center;
}

.footer-grid {
  background-color: black;
  color: antiquewhite;
  text-align: center;
}