body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

header {
    background-color: #F8F8FF;
    display: flex;
    align-items: center;
}

header,
main,
nav,
footer {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

h1 {
    font-weight: 100;
    font-size: 2rem
}

nav {
    background-color: #92a8d1;
    display: flex;
    justify-content: space-between;
}

nav ul {
    text-transform: uppercase;
    list-style-type: none;
    display: grid;
    grid-template-columns: 150px auto,
}

nav a {
    color: #034f84;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.nav-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

nav a:hover {
    border: 3px solid #f7786b;
    color: #f7cac9;
}

.active {
    color: #f7cac9;
}

.main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    text-align: center;
    background-color: #F8F8FF;
}

.main-grid h2 {
    margin-bottom: 10px;
    background-color: #f7cac9;
}

.about-me {
    display: grid;
}

.about-me-grid,
.utah-grid {
    display: flex;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 10px;
    border: 2px solid #f7786b;
    border-radius: 30px;
    padding: 20px;
}

.about-me-grid p {
    text-align: center;
}

.about-me-grid img,
.utah-grid img {
    width: 150px;
    margin-left: 20px;
    border-radius: 30px;
}

.card ul {
    text-align: left;
    border: 2px solid #f7786b;
    padding: 20px;
    border-radius: 30px
}

footer {
    background-color: #92a8d1;
    text-align: center;
}

/*Larger Views ******************/
/* Use a media query to
at 800px: */
@media (min-width: 640px) {
    nav ul {
        display: flex;
        /*justify-content:space-evenly; 
      using flex below instead*/
    }

    nav ul li {
        flex: 1 1 100%;
    }
}