/* Larger Views */
@media screen and (min-width: 640px) {

    /* Don't display the hamburger icon */
    #menu {
        display: none;
    }

    .navigation
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        /* display: flex; */
        /* justify-content: space-evenly; */
        justify-content: flex-end;
        flex-direction: row;
    }

    nav a {
        flex: 1 1 100%;
    }

    #temples {
        display: flex;
    }

    .figure {
        flex: 1 1 100%;
    }
}