/*For a larger viewport*/
@media screen and (min-width: 500px) {
    header {
        background-color: black;
        color: white;
        /*change the font color*/
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}